@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Microchip Manager</h1>
    <p class="lead">Find information about a specific microchip, add or delete information, or search the database by pet type or location.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Search</h2>
        <p>
            Search the database for a specific animal by microchip number, or search by pet type or location.  You may edit or delete the pet information here.
        </p>
        <p><a class="btn btn-default" href="Search.cshtml">Search &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Add a new pet</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Add new &raquo;</a></p>
    </div>
</div>